<ion-view>



<div class="bar bar-header bar-calm">
  <h1 class="title">MAS Inc.</h1>
</div>
</br>
</br>
</br>
</br>


<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Name">
  </label>
</div>
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Mobile Number">
  </label>
  </div>
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Email">
  </label>
  </div>

<button class="button button-balanced"ui-sref="login">
  register
</button>


<div class="bar bar-footer bar-balanced">
  <div class="title">Adnan</div>
</div>

</ion-view>